
@layer base {
  :root {
    --ilw-quote--margin: 1rem 0;
    --ilw-quote--padding: 0 0 1em 0;
    --ilw-quote--base-font-size: 0.875rem;
    --ilw-quote--font: var(--il-font-sans);
    --ilw-quote--font-serif: var(--il-font-serif);
    --ilw-quote--font-weight: 600;
    --ilw-quote--font-size: 1.625em;
    --ilw-quote--line-height: 1.35;
    --ilw-quote--author-font-weight: 700;
    --ilw-quote--author-font-size: 1.625em;
    --ilw-quote--author-line-height: 1.1;
    --ilw-quote--source-font-weight: 400;
    --ilw-quote--source-font-size: 1.428em;
    --ilw-quote--source-line-height: 1.35;
    --ilw-quote--mark-font: 9.5em/0 var(--il-font-serif);
    --ilw-quote--mark-height: 0.40em;
    --ilw-quote--mark-top: -10px;
    --ilw-quote--mark-content-before: "“";
    --ilw-quote--mark-content-after: "”";
    --ilw-quote--max-width: 620px;
    --ilw-quote--border: 6px solid var(--ilw-color--control-accent);
  }

  ilw-quote {
    font-family: var(--ilw-quote--font);
    font-size: var(--ilw-quote--base-font-size);
    text-align: center;
    margin: var(--ilw-quote--margin);
    padding: var(--ilw-quote--padding);

    &[align=left] {
      text-align: left;
      border-left: var(--ilw-quote--border);
      --ilw-quote--max-width: none;
      padding-left: 3.125em;
    }

    &[align=right] {
      text-align: right;
      border-right: var(--ilw-quote--border);
      --ilw-quote--max-width: none;
      padding-right: 3.125em;
    }

    &[size=medium] {
      --ilw-quote--base-font-size: 1rem;
    }

    &[size=large] {
      --ilw-quote--base-font-size: 1.154rem;
    }
  }
}

.ilw-quote--exclude-marks {
  --ilw-quote--mark-content-before: none;
  --ilw-quote--mark-content-after: none;
}

ilw-quote *[slot=content] {
  font-weight: var(--ilw-quote--font-weight);
  font-size: var(--ilw-quote--font-size);
  line-height: var(--ilw-quote--line-height);
}

ilw-quote[font=serif] *[slot=content] {
  font-family: var(--ilw-quote--font-serif);
  --ilw-quote--font-weight: 400;
}

ilw-quote *[slot=author] {
  margin-top: 1.8em;
  margin-bottom: 0.5em;
  color: var(--ilw-color--control-accent);
  font-weight: var(--ilw-quote--author-font-weight);
  font-size: var(--ilw-quote--author-font-size);
  line-height: var(--ilw-quote--author-line-height);
}

ilw-quote *[slot=source] {
  margin: 0;
  color: var(--ilw-color--heading);
  font-style: inherit;
  font-weight: var(--ilw-quote--source-font-weight);
  font-size: var(--ilw-quote--source-font-size);
  line-height: var(--ilw-quote--source-line-height);
  display: block;
}
