:host {
    display: block;
    background: var(--ilw-color--background);
}

#quote {
    margin: 0 auto;
    max-width: var(--ilw-quote--max-width);
}

#content {
    color: var(--ilw-color--heading);
    position: relative;
}

#content::before {
    content: var(--ilw-quote--mark-content-before);
    position: relative;
    font-style: normal;
    color: var(--ilw-color--control-accent);
    font: var(--ilw-quote--mark-font);
    line-height: 1;
    height: var(--ilw-quote--mark-height);
    top: var(--ilw-quote--mark-top);
    display: block;
}
